* {
    box-sizing: border-box;
}

html {
    font-family: Livvic-SemiBold;
    line-height: rem(18px);
    color: $clr6;
}

body {
    font-size: rem(18px);
    margin: 0;
    background-color: $clr1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Livvic-Bold;
    margin: 0;
}

img {
    width: 100%;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}

hr {
    margin: 0;
    border: 0;
}
